.success {
    color: greenyellow;
}

.alert {
    color: red;
}

.reveal a {
    color: green;
}

.reveal a:hover {
    color: grey;
}

.em0 {
	color:green!important;
}
.em1 {
	color:#00C0F7!important;
}
.em2 {
  color:#ED9D13!important
}

.em3 {
  color:#6AB825!important
}

.em4 {
  color:#ED9D13!important
}

.em5 {
  color:maroon!important;
}
